.container{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    padding: 3px;
    text-decoration: none;
}

.container:hover{
    border-radius: 4px;
    background-color: var(--purple_450);
    color: var(--white_900);
}